.nav-bar-mobile {
  position: fixed;
  z-index: 333;
  top: 0;
  right: 0;
  width: 210px;
  height: 100%;
  padding-top: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-gray);
  color: var(--light-gray);
}
.nav-bar-mobile-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  background: rgba(4, 4, 4, 0.4);
  transition: transform 500ms, opacity 500ms;
  transform: translateX(100%);
  opacity: 0;
  z-index: 444;
}
.nav-bar-mobile-container.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.nav-bar-mobile-overlay.is-visible {
  transform: translateX(0);
  opacity: 1;
}
.overlow {
  overflow: hidden;
}
.burger {
  z-index: 555;
  position: absolute;
  top: 20px;
  right: 20px;
  height: 32px;
  width: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px 4px;
  border: none;

  cursor: pointer;
}

.bar1,
.bar2,
.bar3,
.bar4 {
  width: 100%;
  height: 2px;
  background-color: var(--dark-gray);
  border-radius: 1px;
  transition: var(--transition);
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 9px);
  transform: rotate(-45deg) translate(-5px, 5px);
  background-color: var(--light-gray);
}

.change .bar2,
.change .bar3 {
  opacity: 0;
}

.change .bar4 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-5px, -5px);
  background-color: var(--light-gray);
}
.nav-mobile-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}
.nav-bar-mobile a {
  color: inherit;
}
.nav-bar-mobile svg {
  fill: currentColor;
}
.menu-messagers {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}

.icon-message {
  width: 44px;
  height: 44px;
  padding: 8px;
  border: solid 1px var(--light-gray-10);
  transition: fill var(--transition), background-color var(--transition);

  border-radius: 10px;
}
.message-link:hover .icon-message,
.message-link:focus .icon-message {
  background-color: var(--light-gray);
  fill: #242424;
}
@media screen and (min-width: 768px) {
  .burger {
    display: none;
  }
  .nav-bar-mobile {
    display: none;
  }
}
