.group-list-pagination {
  margin-bottom: 80px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

@media screen and (min-width: 768px) {
  .group-list-pagination {
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 1440px) {
  .group-list-pagination {
    margin-bottom: 132px;
  }
}
.group-list-pagination > button {
  width: 32px;
  height: 32px;
  font-size: 24px;
  color: var(--soft-silver);
  border: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.group-list-pagination button.is-active {
  border-radius: 50%;
  color: var(--dark-gray);
  border: 1px solid var(--dark-gray);
}

.group-list-pagination > button:hover {
  color: var(--dark-gray);
}
