.exercises-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 16px;
}

.exercise-card {
  width: 100%;
  border-radius: 30px;
  border: 1px solid var(--dark-gray);
  padding: 16px;
}

.error-card {
  margin: auto;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .exercises-list-wrapper {
    row-gap: 32px;
  }

  .exercise-item {
    width: calc((100% - 16px) / 2);
  }
}
