.filters-and-search-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .filters-and-search-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 1440px) {
  .filters-and-search-wrapper {
    flex-grow: 2;
    justify-content: flex-end;
  }
}

.search-form {
  position: relative;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .search-form {
    max-width: 273px;
  }
}

.search-input {
  width: 100%;
  color: inherit;
  line-height: 1.5;
  padding: 11px 14px;
  border-radius: 30px;
  border: 1px solid var(--dark-gray);
}

.search-input::placeholder {
  color: inherit;
}

.search-form-buttons {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 2px;
  background-color: transparent;
  border: none;
}

.search-button-clear {
  right: 42px;
}

.search-button-submit {
  right: 14px;
}

.search-input::-webkit-search-cancel-button {
  appearance: none;
}

.search-input:placeholder-shown + .search-button-clear {
  display: none;
}

.search-input:focus::placeholder {
  visibility: hidden;
}

.exercises-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 16px;
}

.exercise-card {
  width: 100%;
  border-radius: 30px;
  border: 1px solid var(--dark-gray);
  padding: 16px;
}

.error-card {
  margin: auto;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .exercises-list-wrapper {
    row-gap: 32px;
  }

  .exercise-item {
    width: calc((100% - 16px) / 2);
  }
}
