<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/layout/exercise-card.css">
  <title>Exercise Card</title>
</head>
<body>
  <ul class="list-of-cards">
    <li>
      <div class="exercise-card">
        <div class="upside-container">
          <p class="badge-text">WORKOUT</p>
          <div class="exercise-rating">
            <p class="rating-text">4.0</p>
            <span class="star-icon-wrap">
              <svg class="star-icon" width="18" height="18">
                <use href="../img/icons.svg#star"></use>
              </svg>
            </span>
          </div>
          <button class="start-btn">
            <span class="start-btn-text">Start</span>
            <span class="arrow-wrapper">
              <svg class="arrow-icon" width="16" height="16">
                <use href="../img/icons.svg#arrow"></use>
              </svg>
            </span>
          </button>
        </div>
        <div class="title-exercise">
          <span class="runner-wrapper">
            <svg class="icon-running" width="20" height="20">
              <use href="../img/icons.svg#running-stick-figure-border"></use>
            </svg>
          </span>
          <h3 class="text-title-exercise">Air bike</h3>
        </div>
        <div class="exercise-items">
          <div class="exercise-item">
            <span class="about-calories">Burned calories:</span>
            <p class="calories-value">312 / 3 min</p>
          </div>
          <div class="exercise-item">
            <span class="about-body-parts">Body part:</span>
            <p class="body-part-text">Waist</p>
          </div>
          <div class="exercise-item">
            <span class="target-descr">Target:</span>
            <p class="target-text">Abs</p>
          </div>
        </div>
      </div>
    </li>
  </ul>
</body>
</html>
