<section class="exercises-section">
  <h2 class="is-hidden">Exercises</h2>
  <div class="container">
    <div class="exercises_top">
      <div class="exercises-wrap">
        <div class="exercises_title">
          Exercises <span class="slash">/</span>
        </div>
        <div class="exercises_name"></div>
      </div>
      <div class="exercises_search-wrap">
        <div class="exercises_search">
          <input class="exercises_search-input" placeholder="Search" type="text" />

          <svg class="exercises_criss-cross-img" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
            viewBox="0 0 18 18" fill="none">
            <use href="./img/icons.svg#criss-cross"></use>
          </svg>

          <svg class="exercises_search-img" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
            viewBox="0 0 18 18" fill="none">
            <use href="./img/icons.svg#search"></use>
          </svg>
        </div>
        <div class="exercises_wrap">
          <ul class="exercises_nav">
            <li>
              <a class="exercises__nav-item" data-category="Muscles">
                Muscles
              </a>
            </li>
            <li>
              <a class="exercises__nav-item" data-category="Body parts">
                Body parts
              </a>
            </li>
            <li>
              <a class="exercises__nav-item" data-category="Equipment">
                Equipment
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>