<section class="hero">
  <div class="container">
    <div class="hero-content-wrapper">
      <div class="hero-head">
        <h1 class="hero-header">
          <svg class="hero-icon" width="38" height="38">
            <use href="./img/icons.svg#many-rays-star"></use>
          </svg>
          <span class="hero-header-span">Get <span class="hero-body">Body</span> in</span><br />
          shape, Stay healthy
        </h1>
        <p class="hero-text">
          Transform your physique and embrace a healthier lifestyle with our
          comprehensive fitness and nutrition support.
        </p>
      </div>
      <div class="hero-hashtag">
        <img src="./img/hero/young-women-doing-fitness-outdoors-together.webp" srcset="
            ./img/hero/young-women-doing-fitness-outdoors-together.webp    1x,
            ./img/hero/young-women-doing-fitness-outdoors-together@2x.webp 2x
          " alt="young women doing fitness outdoors togethe" class="hero-hashtag-img" />
        <ul class="hero-hashtag-list">
          <li class="hero-hashtag-item">
            <div class="hero-hashtag-wrap">#Sport</div>
          </li>
          <li class="hero-hashtag-item">
            <div class="hero-hashtag-wrap">#Healthy</div>
          </li>
          <li class="hero-hashtag-item hero__hash-item_pd">
            <div class="hero-hashtag-wrap">#Workout</div>
          </li>
          <li class="hero-hashtag-item">
            <div class="hero-hashtag-wrap">#Diet</div>
          </li>
        </ul>
      </div>
      <div class="hero-img-wrapper">
        <picture>
          <source media="(min-width: 1440px)" srcset="
              ./img/hero/women-sportswear-working-out-outdoors.webp    1x,
              ./img/hero/women-sportswear-working-out-outdoors@2x.webp 2x
            " />
          <source media="(min-width: 768px)" srcset="
              ./img/hero/women-sportswear-working-out-outdoors-tablet.webp    1x,
              ./img/hero/women-sportswear-working-out-outdoors-tablet@2x.webp 2x
            " />
          <source media="(max-width: 767px)" srcset="
              ./img/hero/women-sportswear-working-out-outdoors-mobile.webp    1x,
              ./img/hero/women-sportswear-working-out-outdoors-mobile@2x.webp 2x
            " />
          <img src="./img/hero/women-sportswear-working-out-outdoors.webp" srcset="
              ./img/hero/women-sportswear-working-out-outdoors.webp    1x,
              ./img/hero/women-sportswear-working-out-outdoors@2x.webp 2x
            " alt="women sportswear working out outdoors" class="hero-main-img" />
        </picture>
      </div>
    </div>
  </div>
</section>