<section>
        <div class="container filters-and-search">
          <div class="filters-and-search-block">
            <load src="./search.html" />
    
            <load src="./filter_exersices.html" />
          </div>
        </div>
    
        <div class="container main-content">
        
    
          <div class="main-exercises">
            <div>
              <load src="./fetch_exersices.html" />
              <load src="./exercises-list.html" />
            </div>
          </div>
        </div>
</section>