<div class="nav-bar-mobile is-hidden">
    <nav class="nav-mobile">
      <ul class="nav-mobile-list">
        <li>
          <a href="./index.html">Home</a>
        </li>
        <li>
          <a href="./favorites.html">Favorites</a>
        </li>
      </ul>
    </nav>
    <ul class="menu-messagers">
      <li>
        <a
          href="https://www.facebook.com/goITclub/"
          class="message-link"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="link to facebook page"
        >
          <svg class="icon-message" aria-label="Facebook icon">
            <use href="./img/icons.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.instagram.com/goitclub/"
          class="message-link"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="link to instagram page"
        >
          <svg class="icon-message" aria-label="Instagram icon">
            <use href="./img/icons.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.youtube.com/c/GoIT"
          class="message-link"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="link to youtube channel"
        >
          <svg class="icon-message" aria-label="Youtube icon">
            <use href="./img/icons.svg#youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>